# KiCad files
*#
*.kicad_prl
*.zip
*.kicad_sch-bak
*.lck

# Radiant & Questa
*.html
*.build_status
*.xml
*.tcr
*.o
*.d
*.ind
*.elf
*.map
*.jlink
*.DS_Store
*.emSession
*.ini
*.recovery
*.sty
*.synthesis_touch
*.pfl
*.tcl
*.udb
*.psn
*.lsedata
*.synproj
*.srp
*.mrp
*.vm
*.arearep
*.log
*.vdb
*.txt
*.hrr
/FPGA/DSP/sim/Questa/work   
/FPGA/DSP/sim/Questa/DelayBufferFSM/work
/FPGA/DSP/sim/Questa/CDC_STF/work
*.cprj
*.p2t
*.par
*.pad
*.mti
hdr_log
