*.html
*.build_status
*.xml
*.tcr
*.o
*.d
*.ind
*.elf
*.map
*.jlink
*.DS_Store
*.emSession
*.ini
*.recovery
*.sty
*.synthesis_touch

# KiCad files
*#
*.kicad_prl
*.zip
*.kicad_sch-bak
*.lck
*.pfl
*.tcl
*.udb
*.psn
*.lsedata
*.synproj
*.srp
*.mrp
*.vm
*.arearep
*.log
*.vdb
*.txt
