// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2025.1.0.39.0
// Netlist written on Tue Nov 25 03:43:51 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/git/e155project/fpga/src/data_fast_to_slow.sv"
// file 1 "c:/git/e155project/fpga/src/fast_to_slow_cdc.sv"
// file 2 "c:/git/e155project/fpga/src/i2srx.sv"
// file 3 "c:/git/e155project/fpga/src/i2stx.sv"
// file 4 "c:/git/e155project/fpga/src/top.sv"
// file 5 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.v"
// file 6 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 27 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 28 "c:/lscc/radiant/2025.1/ip/common/adder/rtl/lscc_adder.v"
// file 29 "c:/lscc/radiant/2025.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 30 "c:/lscc/radiant/2025.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 31 "c:/lscc/radiant/2025.1/ip/common/counter/rtl/lscc_cntr.v"
// file 32 "c:/lscc/radiant/2025.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 33 "c:/lscc/radiant/2025.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 34 "c:/lscc/radiant/2025.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 35 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 36 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 37 "c:/lscc/radiant/2025.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 38 "c:/lscc/radiant/2025.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 39 "c:/lscc/radiant/2025.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 40 "c:/lscc/radiant/2025.1/ip/common/rom/rtl/lscc_rom.v"
// file 41 "c:/lscc/radiant/2025.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2025.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2025.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2025.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2025.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2025.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2025.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2025.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input sclk_in, input rst, input ws_in, input sdata_in, output sclk_out, 
            output ws_out, output sdata_out);
    
    (* is_clock=1, lineinfo="@4(2[18],2[25])" *) wire sclk_out_c_c;
    wire rst_c;
    wire ws_in_c;
    wire sdata_in_c;
    wire ws_out_c;
    wire sdata_out_c;
    wire [15:0]left_chan;
    wire [15:0]right_chan;
    wire rst_c_N_151;
    (* is_clock=1, lineinfo="@4(2[18],2[25])" *) wire sclk_out_c_c_derived_44;
    wire ws_r;
    
    wire VCC_net, n15, n386, GND_net, n372, n357, n342, n327;
    
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@4(16[16],16[80])" *) I2Stx I2Stx0 (sclk_out_c_c_derived_44, 
            {right_chan}, n15, {left_chan}, rst_c, ws_out_c, rst_c_N_151, 
            n327, sdata_out_c);
    (* lineinfo="@4(7[18],7[24])" *) OB ws_out_pad (.I(ws_out_c), .O(ws_out));
    (* lineinfo="@4(6[18],6[26])" *) OB sclk_out_pad (.I(sclk_out_c_c), .O(sclk_out));
    (* lineinfo="@4(8[18],8[27])" *) OB sdata_out_pad (.I(sdata_out_c), .O(sdata_out));
    (* lineinfo="@4(2[18],2[25])" *) IB sclk_out_c_pad (.I(sclk_in), .O(sclk_out_c_c));
    (* lineinfo="@4(3[18],3[21])" *) IB rst_pad (.I(rst), .O(rst_c));
    (* lineinfo="@4(4[18],4[23])" *) IB ws_in_pad (.I(ws_in), .O(ws_in_c));
    (* lineinfo="@4(5[18],5[26])" *) IB sdata_in_pad (.I(sdata_in), .O(sdata_in_c));
    (* lut_function="(A+!(B))", lineinfo="@3(29[9],46[5])" *) LUT4 i256_2_lut_2_lut (.A(n15), 
            .B(rst_c), .Z(n327));
    defparam i256_2_lut_2_lut.INIT = "0xbbbb";
    (* lut_function="(!(A (B)))" *) LUT4 i442_2_lut (.A(ws_r), .B(rst_c), 
            .Z(n386));
    defparam i442_2_lut.INIT = "0x7777";
    (* lut_function="(!(A))", lineinfo="@4(16[33],16[37])" *) LUT4 rst_c_I_0_1_lut (.A(rst_c), 
            .Z(rst_c_N_151));
    defparam rst_c_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A (B (C))+!A (B)))", lineinfo="@2(44[8],56[4])" *) LUT4 i271_3_lut (.A(ws_in_c), 
            .B(rst_c), .C(ws_r), .Z(n342));
    defparam i271_3_lut.INIT = "0x3b3b";
    (* lut_function="(!(A (B)+!A !((C)+!B)))", lineinfo="@2(44[8],56[4])" *) LUT4 i286_3_lut_3_lut (.A(ws_in_c), 
            .B(rst_c), .C(ws_r), .Z(n357));
    defparam i286_3_lut_3_lut.INIT = "0x7373";
    (* lut_function="(A+!(B))", lineinfo="@2(32[8],41[4])" *) LUT4 i301_2_lut_2_lut (.A(ws_r), 
            .B(rst_c), .Z(n372));
    defparam i301_2_lut_2_lut.INIT = "0xbbbb";
    VLO i1 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@4(55[16],55[78])" *) I2Srx I2Srx0 (n342, 
            {left_chan}, sclk_out_c_c, rst_c_N_151, n357, {right_chan}, 
            sdata_in_c, n372, n386, ws_in_c, ws_r, sclk_out_c_c_derived_44);
    
endmodule

//
// Verilog Description of module I2Stx
//

module I2Stx (input sclk_out_c_c_derived_44, input [15:0]right_chan, output n15, 
            input [15:0]left_chan, input rst_c, output ws_out_c, input rst_c_N_151, 
            input n327, output sdata_out_c);
    
    wire [32:0]shift_reg;
    (* is_clock=1, lineinfo="@4(2[18],2[25])" *) wire sclk_out_c_c_derived_44;
    wire [7:0]bitCnt;
    wire [32:0]shift_reg_32__N_33;
    
    wire n119, n7, n441, n617, GND_net;
    wire [7:0]n37;
    
    wire n479, n439, n614, n437, n611, n91, n435, n608, n13, 
        n494, VCC_net, n511, n605;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i23 (.D(shift_reg_32__N_33[23]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[23]));
    defparam shift_reg_i23.REGSET = "RESET";
    defparam shift_reg_i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i22 (.D(shift_reg_32__N_33[22]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[22]));
    defparam shift_reg_i22.REGSET = "RESET";
    defparam shift_reg_i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i0 (.D(right_chan[0]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n119), .Q(shift_reg[0]));
    defparam shift_reg_i0.REGSET = "RESET";
    defparam shift_reg_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i21 (.D(shift_reg_32__N_33[21]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[21]));
    defparam shift_reg_i21.REGSET = "RESET";
    defparam shift_reg_i21.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(((D)+!C)+!B))" *) LUT4 i4_4_lut (.A(n7), .B(bitCnt[1]), 
            .C(bitCnt[3]), .D(bitCnt[0]), .Z(n15));
    defparam i4_4_lut.INIT = "0xffbf";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i20 (.D(shift_reg_32__N_33[20]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[20]));
    defparam shift_reg_i20.REGSET = "RESET";
    defparam shift_reg_i20.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i97_3_lut_4_lut (.A(left_chan[8]), 
            .B(shift_reg[23]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[24]));
    defparam i97_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i109_3_lut_4_lut (.A(left_chan[14]), 
            .B(shift_reg[29]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[30]));
    defparam i109_3_lut_4_lut.INIT = "0xcaaa";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(49[9],55[5])" *) FD1P3XZ ws (.D(n479), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(rst_c_N_151), 
            .Q(ws_out_c));
    defparam ws.REGSET = "RESET";
    defparam ws.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(24[23],24[33])" *) FA2 bitCnt_30_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(bitCnt[7]), .D0(n441), .CI0(n441), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n617), .CI1(n617), .CO0(n617), 
            .S0(n37[7]));
    defparam bitCnt_30_add_4_9.INIT0 = "0xc33c";
    defparam bitCnt_30_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i105_3_lut_4_lut (.A(left_chan[12]), 
            .B(shift_reg[27]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[28]));
    defparam i105_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i69_3_lut_4_lut (.A(right_chan[10]), 
            .B(shift_reg[9]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[10]));
    defparam i69_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i107_3_lut_4_lut (.A(left_chan[13]), 
            .B(shift_reg[28]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[29]));
    defparam i107_3_lut_4_lut.INIT = "0xcaaa";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i19 (.D(shift_reg_32__N_33[19]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[19]));
    defparam shift_reg_i19.REGSET = "RESET";
    defparam shift_reg_i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i18 (.D(shift_reg_32__N_33[18]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[18]));
    defparam shift_reg_i18.REGSET = "RESET";
    defparam shift_reg_i18.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(24[23],24[33])" *) FA2 bitCnt_30_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(bitCnt[5]), .D0(n439), .CI0(n439), .A1(GND_net), 
            .B1(GND_net), .C1(bitCnt[6]), .D1(n614), .CI1(n614), .CO0(n614), 
            .CO1(n441), .S0(n37[5]), .S1(n37[6]));
    defparam bitCnt_30_add_4_7.INIT0 = "0xc33c";
    defparam bitCnt_30_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i111_3_lut_4_lut (.A(left_chan[15]), 
            .B(shift_reg[30]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[31]));
    defparam i111_3_lut_4_lut.INIT = "0xcaaa";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i17 (.D(shift_reg_32__N_33[17]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[17]));
    defparam shift_reg_i17.REGSET = "RESET";
    defparam shift_reg_i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i16 (.D(shift_reg_32__N_33[16]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[16]));
    defparam shift_reg_i16.REGSET = "RESET";
    defparam shift_reg_i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i15 (.D(shift_reg_32__N_33[15]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[15]));
    defparam shift_reg_i15.REGSET = "RESET";
    defparam shift_reg_i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i14 (.D(shift_reg_32__N_33[14]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[14]));
    defparam shift_reg_i14.REGSET = "RESET";
    defparam shift_reg_i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i13 (.D(shift_reg_32__N_33[13]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[13]));
    defparam shift_reg_i13.REGSET = "RESET";
    defparam shift_reg_i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i12 (.D(shift_reg_32__N_33[12]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[12]));
    defparam shift_reg_i12.REGSET = "RESET";
    defparam shift_reg_i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i11 (.D(shift_reg_32__N_33[11]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[11]));
    defparam shift_reg_i11.REGSET = "RESET";
    defparam shift_reg_i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i10 (.D(shift_reg_32__N_33[10]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[10]));
    defparam shift_reg_i10.REGSET = "RESET";
    defparam shift_reg_i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i9 (.D(shift_reg_32__N_33[9]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[9]));
    defparam shift_reg_i9.REGSET = "RESET";
    defparam shift_reg_i9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i67_3_lut_4_lut (.A(right_chan[9]), 
            .B(shift_reg[8]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[9]));
    defparam i67_3_lut_4_lut.INIT = "0xcaaa";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i8 (.D(shift_reg_32__N_33[8]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[8]));
    defparam shift_reg_i8.REGSET = "RESET";
    defparam shift_reg_i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i65_3_lut_4_lut (.A(right_chan[8]), 
            .B(shift_reg[7]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[8]));
    defparam i65_3_lut_4_lut.INIT = "0xcaaa";
    (* lineinfo="@3(24[23],24[33])" *) FA2 bitCnt_30_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(bitCnt[3]), .D0(n437), .CI0(n437), .A1(GND_net), 
            .B1(GND_net), .C1(bitCnt[4]), .D1(n611), .CI1(n611), .CO0(n611), 
            .CO1(n439), .S0(n37[3]), .S1(n37[4]));
    defparam bitCnt_30_add_4_5.INIT0 = "0xc33c";
    defparam bitCnt_30_add_4_5.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i7 (.D(shift_reg_32__N_33[7]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[7]));
    defparam shift_reg_i7.REGSET = "RESET";
    defparam shift_reg_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i6 (.D(shift_reg_32__N_33[6]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[6]));
    defparam shift_reg_i6.REGSET = "RESET";
    defparam shift_reg_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i5 (.D(shift_reg_32__N_33[5]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[5]));
    defparam shift_reg_i5.REGSET = "RESET";
    defparam shift_reg_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i4 (.D(shift_reg_32__N_33[4]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[4]));
    defparam shift_reg_i4.REGSET = "RESET";
    defparam shift_reg_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i3 (.D(shift_reg_32__N_33[3]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[3]));
    defparam shift_reg_i3.REGSET = "RESET";
    defparam shift_reg_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i2 (.D(shift_reg_32__N_33[2]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[2]));
    defparam shift_reg_i2.REGSET = "RESET";
    defparam shift_reg_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i1 (.D(shift_reg_32__N_33[1]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[1]));
    defparam shift_reg_i1.REGSET = "RESET";
    defparam shift_reg_i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i7 (.D(n37[7]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[7]));
    defparam bitCnt_30__i7.REGSET = "RESET";
    defparam bitCnt_30__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i6 (.D(n37[6]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[6]));
    defparam bitCnt_30__i6.REGSET = "RESET";
    defparam bitCnt_30__i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(24[23],24[33])" *) FA2 bitCnt_30_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(bitCnt[1]), .D0(n435), .CI0(n435), .A1(GND_net), 
            .B1(GND_net), .C1(bitCnt[2]), .D1(n608), .CI1(n608), .CO0(n608), 
            .CO1(n437), .S0(n37[1]), .S1(n37[2]));
    defparam bitCnt_30_add_4_3.INIT0 = "0xc33c";
    defparam bitCnt_30_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i5 (.D(n37[5]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[5]));
    defparam bitCnt_30__i5.REGSET = "RESET";
    defparam bitCnt_30__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i4 (.D(n37[4]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[4]));
    defparam bitCnt_30__i4.REGSET = "RESET";
    defparam bitCnt_30__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i3 (.D(n37[3]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[3]));
    defparam bitCnt_30__i3.REGSET = "RESET";
    defparam bitCnt_30__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i2 (.D(n37[2]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[2]));
    defparam bitCnt_30__i2.REGSET = "RESET";
    defparam bitCnt_30__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i1 (.D(n37[1]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[1]));
    defparam bitCnt_30__i1.REGSET = "RESET";
    defparam bitCnt_30__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(24[23],24[33])" *) FD1P3XZ bitCnt_30__i0 (.D(n37[0]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(n91), .Q(bitCnt[0]));
    defparam bitCnt_30__i0.REGSET = "RESET";
    defparam bitCnt_30__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i26 (.D(shift_reg_32__N_33[26]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[26]));
    defparam shift_reg_i26.REGSET = "RESET";
    defparam shift_reg_i26.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i27 (.D(shift_reg_32__N_33[27]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[27]));
    defparam shift_reg_i27.REGSET = "RESET";
    defparam shift_reg_i27.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i28 (.D(shift_reg_32__N_33[28]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[28]));
    defparam shift_reg_i28.REGSET = "RESET";
    defparam shift_reg_i28.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i29 (.D(shift_reg_32__N_33[29]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[29]));
    defparam shift_reg_i29.REGSET = "RESET";
    defparam shift_reg_i29.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i30 (.D(shift_reg_32__N_33[30]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[30]));
    defparam shift_reg_i30.REGSET = "RESET";
    defparam shift_reg_i30.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i31 (.D(shift_reg_32__N_33[31]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[31]));
    defparam shift_reg_i31.REGSET = "RESET";
    defparam shift_reg_i31.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i32 (.D(shift_reg[31]), 
            .SP(n327), .CK(sclk_out_c_c_derived_44), .SR(rst_c_N_151), 
            .Q(shift_reg[32]));
    defparam shift_reg_i32.REGSET = "RESET";
    defparam shift_reg_i32.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ sdata (.D(shift_reg[32]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(rst_c_N_151), 
            .Q(sdata_out_c));
    defparam sdata.REGSET = "RESET";
    defparam sdata.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i63_3_lut_4_lut (.A(right_chan[7]), 
            .B(shift_reg[6]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[7]));
    defparam i63_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i61_3_lut_4_lut (.A(right_chan[6]), 
            .B(shift_reg[5]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[6]));
    defparam i61_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i99_3_lut_4_lut (.A(left_chan[9]), 
            .B(shift_reg[24]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[25]));
    defparam i99_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i59_3_lut_4_lut (.A(right_chan[5]), 
            .B(shift_reg[4]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[5]));
    defparam i59_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i57_3_lut_4_lut (.A(right_chan[4]), 
            .B(shift_reg[3]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[4]));
    defparam i57_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B))", lineinfo="@3(34[3],43[6])" *) LUT4 i48_2_lut (.A(n15), 
            .B(rst_c), .Z(n119));
    defparam i48_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@3(52[16],52[35])" *) LUT4 equal_20_i13_2_lut (.A(bitCnt[6]), 
            .B(bitCnt[7]), .Z(n13));
    defparam equal_20_i13_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i55_3_lut_4_lut (.A(right_chan[3]), 
            .B(shift_reg[2]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[3]));
    defparam i55_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i87_3_lut_4_lut (.A(left_chan[3]), 
            .B(shift_reg[18]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[19]));
    defparam i87_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i53_3_lut_4_lut (.A(right_chan[2]), 
            .B(shift_reg[1]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[2]));
    defparam i53_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i51_3_lut_4_lut (.A(right_chan[1]), 
            .B(shift_reg[0]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[1]));
    defparam i51_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(!(A (B+(C+(D)))+!A (B+((D)+!C))))" *) LUT4 i2_4_lut (.A(bitCnt[4]), 
            .B(bitCnt[0]), .C(bitCnt[5]), .D(n13), .Z(n494));
    defparam i2_4_lut.INIT = "0x0012";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i25 (.D(shift_reg_32__N_33[25]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[25]));
    defparam shift_reg_i25.REGSET = "RESET";
    defparam shift_reg_i25.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i2_4_lut_adj_2 (.A(n13), .B(bitCnt[2]), 
            .C(bitCnt[5]), .D(bitCnt[4]), .Z(n7));
    defparam i2_4_lut_adj_2.INIT = "0xfbff";
    (* lut_function="(A+(B))" *) LUT4 i416_2_lut (.A(bitCnt[1]), .B(bitCnt[2]), 
            .Z(n511));
    defparam i416_2_lut.INIT = "0xeeee";
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@3(19[9],24[34])" *) LUT4 i3_4_lut_4_lut (.A(bitCnt[5]), 
            .B(rst_c), .C(bitCnt[7]), .D(bitCnt[6]), .Z(n91));
    defparam i3_4_lut_4_lut.INIT = "0xfffb";
    (* lut_function="(A (B+(C+!(D)))+!A !(B+(C+!(D))))" *) LUT4 i1_4_lut (.A(ws_out_c), 
            .B(n511), .C(bitCnt[3]), .D(n494), .Z(n479));
    defparam i1_4_lut.INIT = "0xa9aa";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i85_3_lut_4_lut (.A(left_chan[2]), 
            .B(shift_reg[17]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[18]));
    defparam i85_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i83_3_lut_4_lut (.A(left_chan[1]), 
            .B(shift_reg[16]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[17]));
    defparam i83_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i81_3_lut_4_lut (.A(left_chan[0]), 
            .B(shift_reg[15]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[16]));
    defparam i81_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i79_3_lut_4_lut (.A(right_chan[15]), 
            .B(shift_reg[14]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[15]));
    defparam i79_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i77_3_lut_4_lut (.A(right_chan[14]), 
            .B(shift_reg[13]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[14]));
    defparam i77_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i95_3_lut_4_lut (.A(left_chan[7]), 
            .B(shift_reg[22]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[23]));
    defparam i95_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i93_3_lut_4_lut (.A(left_chan[6]), 
            .B(shift_reg[21]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[22]));
    defparam i93_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i75_3_lut_4_lut (.A(right_chan[13]), 
            .B(shift_reg[12]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[13]));
    defparam i75_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i91_3_lut_4_lut (.A(left_chan[5]), 
            .B(shift_reg[20]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[21]));
    defparam i91_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i73_3_lut_4_lut (.A(right_chan[12]), 
            .B(shift_reg[11]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[12]));
    defparam i73_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i71_3_lut_4_lut (.A(right_chan[11]), 
            .B(shift_reg[10]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[11]));
    defparam i71_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i101_3_lut_4_lut (.A(left_chan[10]), 
            .B(shift_reg[25]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[26]));
    defparam i101_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i103_3_lut_4_lut (.A(left_chan[11]), 
            .B(shift_reg[26]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[27]));
    defparam i103_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))" *) LUT4 i89_3_lut_4_lut (.A(left_chan[4]), 
            .B(shift_reg[19]), .C(n15), .D(rst_c), .Z(shift_reg_32__N_33[20]));
    defparam i89_3_lut_4_lut.INIT = "0xcaaa";
    (* lineinfo="@3(24[23],24[33])" *) FA2 bitCnt_30_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(bitCnt[0]), .D1(n605), .CI1(n605), .CO0(n605), .CO1(n435), 
            .S1(n37[0]));
    defparam bitCnt_30_add_4_1.INIT0 = "0xc33c";
    defparam bitCnt_30_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=80, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@3(29[9],46[5])" *) FD1P3XZ shift_reg_i24 (.D(shift_reg_32__N_33[24]), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(shift_reg[24]));
    defparam shift_reg_i24.REGSET = "RESET";
    defparam shift_reg_i24.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module I2Srx
//

module I2Srx (input n342, output [15:0]left_chan, input sclk_out_c_c, 
            input rst_c_N_151, input n357, output [15:0]right_chan, input sdata_in_c, 
            input n372, input n386, input ws_in_c, output ws_r, output sclk_out_c_c_derived_44);
    
    wire [15:0]left;
    (* is_clock=1, lineinfo="@4(2[18],2[25])" *) wire sclk_out_c_c;
    wire [15:0]right;
    (* is_clock=1, lineinfo="@4(2[18],2[25])" *) wire sclk_out_c_c_derived_44;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i0 (.D(right[0]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[0]));
    defparam right_chan__i0.REGSET = "RESET";
    defparam right_chan__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i0 (.D(sdata_in_c), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[0]));
    defparam right__i0.REGSET = "RESET";
    defparam right__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i0 (.D(sdata_in_c), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[0]));
    defparam left__i0.REGSET = "RESET";
    defparam left__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(22[8],24[4])" *) FD1P3XZ ws_r_c (.D(ws_in_c), 
            .SP(VCC_net), .CK(sclk_out_c_c_derived_44), .SR(GND_net), 
            .Q(ws_r));
    defparam ws_r_c.REGSET = "RESET";
    defparam ws_r_c.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i1 (.D(left[1]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[1]));
    defparam left_chan__i1.REGSET = "RESET";
    defparam left_chan__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i2 (.D(left[2]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[2]));
    defparam left_chan__i2.REGSET = "RESET";
    defparam left_chan__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i3 (.D(left[3]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[3]));
    defparam left_chan__i3.REGSET = "RESET";
    defparam left_chan__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i4 (.D(left[4]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[4]));
    defparam left_chan__i4.REGSET = "RESET";
    defparam left_chan__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i5 (.D(left[5]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[5]));
    defparam left_chan__i5.REGSET = "RESET";
    defparam left_chan__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i6 (.D(left[6]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[6]));
    defparam left_chan__i6.REGSET = "RESET";
    defparam left_chan__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i7 (.D(left[7]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[7]));
    defparam left_chan__i7.REGSET = "RESET";
    defparam left_chan__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i8 (.D(left[8]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[8]));
    defparam left_chan__i8.REGSET = "RESET";
    defparam left_chan__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i9 (.D(left[9]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[9]));
    defparam left_chan__i9.REGSET = "RESET";
    defparam left_chan__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i10 (.D(left[10]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[10]));
    defparam left_chan__i10.REGSET = "RESET";
    defparam left_chan__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i11 (.D(left[11]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[11]));
    defparam left_chan__i11.REGSET = "RESET";
    defparam left_chan__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i12 (.D(left[12]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[12]));
    defparam left_chan__i12.REGSET = "RESET";
    defparam left_chan__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i13 (.D(left[13]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[13]));
    defparam left_chan__i13.REGSET = "RESET";
    defparam left_chan__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i14 (.D(left[14]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[14]));
    defparam left_chan__i14.REGSET = "RESET";
    defparam left_chan__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i15 (.D(left[15]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[15]));
    defparam left_chan__i15.REGSET = "RESET";
    defparam left_chan__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i1 (.D(right[1]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[1]));
    defparam right_chan__i1.REGSET = "RESET";
    defparam right_chan__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i2 (.D(right[2]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[2]));
    defparam right_chan__i2.REGSET = "RESET";
    defparam right_chan__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i3 (.D(right[3]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[3]));
    defparam right_chan__i3.REGSET = "RESET";
    defparam right_chan__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i4 (.D(right[4]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[4]));
    defparam right_chan__i4.REGSET = "RESET";
    defparam right_chan__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i5 (.D(right[5]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[5]));
    defparam right_chan__i5.REGSET = "RESET";
    defparam right_chan__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i6 (.D(right[6]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[6]));
    defparam right_chan__i6.REGSET = "RESET";
    defparam right_chan__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i7 (.D(right[7]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[7]));
    defparam right_chan__i7.REGSET = "RESET";
    defparam right_chan__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i8 (.D(right[8]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[8]));
    defparam right_chan__i8.REGSET = "RESET";
    defparam right_chan__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i9 (.D(right[9]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[9]));
    defparam right_chan__i9.REGSET = "RESET";
    defparam right_chan__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i10 (.D(right[10]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[10]));
    defparam right_chan__i10.REGSET = "RESET";
    defparam right_chan__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i11 (.D(right[11]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[11]));
    defparam right_chan__i11.REGSET = "RESET";
    defparam right_chan__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i12 (.D(right[12]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[12]));
    defparam right_chan__i12.REGSET = "RESET";
    defparam right_chan__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i13 (.D(right[13]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[13]));
    defparam right_chan__i13.REGSET = "RESET";
    defparam right_chan__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i14 (.D(right[14]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[14]));
    defparam right_chan__i14.REGSET = "RESET";
    defparam right_chan__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ right_chan__i15 (.D(right[15]), 
            .SP(n357), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right_chan[15]));
    defparam right_chan__i15.REGSET = "RESET";
    defparam right_chan__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i1 (.D(right[0]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[1]));
    defparam right__i1.REGSET = "RESET";
    defparam right__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i2 (.D(right[1]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[2]));
    defparam right__i2.REGSET = "RESET";
    defparam right__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i3 (.D(right[2]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[3]));
    defparam right__i3.REGSET = "RESET";
    defparam right__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i4 (.D(right[3]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[4]));
    defparam right__i4.REGSET = "RESET";
    defparam right__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i5 (.D(right[4]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[5]));
    defparam right__i5.REGSET = "RESET";
    defparam right__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i6 (.D(right[5]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[6]));
    defparam right__i6.REGSET = "RESET";
    defparam right__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i7 (.D(right[6]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[7]));
    defparam right__i7.REGSET = "RESET";
    defparam right__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i8 (.D(right[7]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[8]));
    defparam right__i8.REGSET = "RESET";
    defparam right__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i9 (.D(right[8]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[9]));
    defparam right__i9.REGSET = "RESET";
    defparam right__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i10 (.D(right[9]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[10]));
    defparam right__i10.REGSET = "RESET";
    defparam right__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i11 (.D(right[10]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[11]));
    defparam right__i11.REGSET = "RESET";
    defparam right__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i12 (.D(right[11]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[12]));
    defparam right__i12.REGSET = "RESET";
    defparam right__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i13 (.D(right[12]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[13]));
    defparam right__i13.REGSET = "RESET";
    defparam right__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i14 (.D(right[13]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[14]));
    defparam right__i14.REGSET = "RESET";
    defparam right__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ right__i15 (.D(right[14]), 
            .SP(n372), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(right[15]));
    defparam right__i15.REGSET = "RESET";
    defparam right__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i1 (.D(left[0]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[1]));
    defparam left__i1.REGSET = "RESET";
    defparam left__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i2 (.D(left[1]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[2]));
    defparam left__i2.REGSET = "RESET";
    defparam left__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i3 (.D(left[2]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[3]));
    defparam left__i3.REGSET = "RESET";
    defparam left__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i4 (.D(left[3]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[4]));
    defparam left__i4.REGSET = "RESET";
    defparam left__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i5 (.D(left[4]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[5]));
    defparam left__i5.REGSET = "RESET";
    defparam left__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i6 (.D(left[5]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[6]));
    defparam left__i6.REGSET = "RESET";
    defparam left__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i7 (.D(left[6]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[7]));
    defparam left__i7.REGSET = "RESET";
    defparam left__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i8 (.D(left[7]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[8]));
    defparam left__i8.REGSET = "RESET";
    defparam left__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i9 (.D(left[8]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[9]));
    defparam left__i9.REGSET = "RESET";
    defparam left__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i10 (.D(left[9]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[10]));
    defparam left__i10.REGSET = "RESET";
    defparam left__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i11 (.D(left[10]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[11]));
    defparam left__i11.REGSET = "RESET";
    defparam left__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i12 (.D(left[11]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[12]));
    defparam left__i12.REGSET = "RESET";
    defparam left__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i13 (.D(left[12]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[13]));
    defparam left__i13.REGSET = "RESET";
    defparam left__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i14 (.D(left[13]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[14]));
    defparam left__i14.REGSET = "RESET";
    defparam left__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(32[8],41[4])" *) FD1P3XZ left__i15 (.D(left[14]), 
            .SP(n386), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left[15]));
    defparam left__i15.REGSET = "RESET";
    defparam left__i15.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* lineinfo="@3(18[14],18[26])" *) INV i4_1_lut (.A(sclk_out_c_c), .Z(sclk_out_c_c_derived_44));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=16, LSE_RCOL=78, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@2(44[8],56[4])" *) FD1P3XZ left_chan__i0 (.D(left[0]), 
            .SP(n342), .CK(sclk_out_c_c), .SR(rst_c_N_151), .Q(left_chan[0]));
    defparam left_chan__i0.REGSET = "RESET";
    defparam left_chan__i0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
